{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mon Compte</h1>
        <p>Bienvenue {{ app.user.firstname }} dans cet espace. <br> C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.</p>

        <hr>
        <div class="d-flex justify-content-between">
            <a class="btn btn-warning" href="{{ path('account_password') }}">Modifier mon mot de passe</a>
            <a class="btn btn-primary" href="{{ path('account_articles') }}">Voir mes articles</a>
        </div>
    </div>

{% endblock %}
