{% extends 'base.html.twig' %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    {% include('Frontend/navbar.html.twig') %}
    <div class="container">
        <h1>Inscription</h1>
        {{ form(form) }}
    </div>
{% endblock %}
