{% extends 'base.html.twig' %}


{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="container">
       {% if app.user %}
            <span class="text-muted">Connecté en tant que : {{ app.user.username }}</span>
        {% else %}
            <span class="text-muted">Aucun compte connecté</span>
        {% endif %}
        
        <div class="row">
            <h1 class="text-center mt-5">Bienvenue sur Leboncoin du Pauvre !</h1>
            <div class="text-center mt-3">
                <a href="/articles" class="btn btn-info">Découvrir les annonces</a>
            </div>

        </div>

    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/{{ asset('style.css') }}">
{% endblock %}