{% extends 'base.html.twig' %}


{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="container">
       {% if app.user %}
            <span class="text-muted">Connecté en tant que : {{ app.user.username }}</span>
        {% else %}
            <span class="text-muted">Aucun compte connecté</span>
        {% endif %}
        
        
        <h1>Homepage</h1>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/{{ asset('style.css') }}">
{% endblock %}